<app-navbar></app-navbar>

<form #myForm="ngForm" class="mt-4 w-full max-w-7xl mx-auto">
  <div class="flex flex-wrap -mx-3 mb-6">
    <!-- Date -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 mt-1">
      <app-date [value]="managementClass.date" [title]="'Date'" [name]="'date'" [placeHolder]="'DD-MMM-YYYY'"
        [required]="true"></app-date>
    </div>

    <!-- Appointment -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.appointment" [value]="managementClass.appointment" [disabled]="true"
        [name]="'Appointment'" [required]="true" [type]="'text'" [placeHolder]="'Appointment'"
        [title]="'Appointment No'"></app-text-field>
    </div>

    <!-- UHID -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-auto-complete [title]="'UHID'" [required]="true" [formControl]="uhidControl" [placeHolder]="'Enter UHID'"
        [autoCompleteOptions]="uhidfilteredOptions" [name]="'uhid'"></app-auto-complete>
    </div>
    <!-- OPID -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-auto-complete [title]="'Enter OPID'" [required]="true" [formControl]="opidControl"
        [placeHolder]="'Enter UHID'" [autoCompleteOptions]="opidfilteredOptions" [name]="'opid'"></app-auto-complete>
    </div>

    <!-- First Name -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.firstName" [value]="managementClass.firstName" [name]="'firstName'"
        [required]="true" [type]="'text'" [placeHolder]="'First Name'" [title]="'First Name'"
        [disabled]="true"></app-text-field>
    </div>
    <!-- Middle Name -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.middleName" [value]="managementClass.middleName"
        [name]="'middleName'" [required]="true" [type]="'text'" [placeHolder]="'Middle Name'" [title]="'Middle Name'"
        [disabled]="true"></app-text-field>
    </div>
    <!-- Last Name -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.lastName" [value]="managementClass.lastName" [name]="'lastName'"
        [required]="true" [type]="'text'" [placeHolder]="'Last Name'" [title]="'Last Name'"
        [disabled]="true"></app-text-field>
    </div>
    <!-- Age -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [value]="age" [name]="'age'" [type]="'text'" [placeHolder]="'Age'" [title]="'Age'"
        [disabled]="true"></app-text-field>
    </div>
    <!-- Marital Status -->
    <!-- Local Address -->
    <!-- Country -->
    <!-- State -->
    <!-- City -->
    <!-- Pin Code -->
    <!-- Mobile -->
    <!-- Secondary Mobile -->
    <!-- Email -->
    <!-- Company -->
    <!-- Ref Letter No. -->
    <!-- Id Card No -->
    <!-- Department -->
    <!-- Unit -->
    <!-- Cnnsultation -->
    <!-- Consultation Charge -->
    <!-- Referred By -->
    <!-- Discount Approved By -->
    <!-- Discount Amount -->
    <!-- Chief Complain -->
    <!-- Paid AMount -->
    <!-- MLC -->
    <!-- Region -->
    <!-- Payment Mode -->
    <!-- Submit Reset -->
  </div>
</form>