<app-navbar></app-navbar>

<form #myForm="ngForm" class="mt-4 w-full max-w-7xl mx-auto">
  <div class="flex flex-wrap -mx-3 mb-6">
    <!-- Date -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 mt-1">
      <app-date [value]="managementClass.date" [title]="'Date'" [name]="'date'" [placeHolder]="'DD-MMM-YYYY'"
        [required]="true"></app-date>
    </div>

    <!-- Appointment -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.appointment" [value]="managementClass.appointment" [disabled]="false"
        [name]="'Appointment'" [required]="false" [type]="'text'" [placeHolder]="'Appointment'"
        [title]="'Appointment No'"></app-text-field>
    </div>

    <!-- UHID -->
    <div (focusout)="checkUhid()" [tabIndex]="1" class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-auto-complete [title]="'UHID'" [required]="true" [formControl]="uhidControl" [placeHolder]="'Enter UHID'"
        [autoCompleteOptions]="uhidfilteredOptions" [name]="'uhid'" #uhid
        (valueChanged)="onUhidChange($event)"></app-auto-complete>
    </div>
    <!-- OPID -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-auto-complete [title]="'OPID'" [required]="true" [formControl]="opidControl" [placeHolder]="'Enter OPID'"
        [autoCompleteOptions]="opidfilteredOptions" [name]="'opid'"></app-auto-complete>
    </div>
    <!-- First Name -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.firstName" [value]="managementClass.firstName" [name]="'firstName'"
        [required]="true" [type]="'text'" [placeHolder]="'First Name'" [title]="'First Name'"
        [disabled]="true"></app-text-field>
    </div>
    <!-- Middle Name -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.middleName" [value]="managementClass.middleName"
        [name]="'middleName'" [required]="false" [type]="'text'" [placeHolder]="'Middle Name'" [title]="'Middle Name'"
        [disabled]="true"></app-text-field>
    </div>
    <!-- Last Name -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.lastName" [value]="managementClass.lastName" [name]="'lastName'"
        [required]="true" [type]="'text'" [placeHolder]="'Last Name'" [title]="'Last Name'"
        [disabled]="true"></app-text-field>
    </div>
    <!-- Age -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="age" [value]="age" [name]="'age'" [type]="'text'" [placeHolder]="'Age'"
        [title]="'Age'" [disabled]="true"></app-text-field>
    </div>
    <!-- Marital Status -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-drop-down [(ngModel)]="managementClass.mStatus" [value]="managementClass.mStatus" [list]="mStatusList"
        [disabled]="true" [name]="'mStatus'" [title]="'Marital Status'" [required]="true"></app-drop-down>
    </div>
    <!-- Local Address -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.address" [value]="managementClass.address" [name]="'address'"
        [required]="true" [type]="'text'" [placeHolder]="'Address'" [title]="'Address'"
        [disabled]="true"></app-text-field>
    </div>
    <!-- Country -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-drop-down [(ngModel)]="managementClass.countryId" [value]="managementClass.countryId" [list]="countriesList"
        [disabled]="true" [name]="'countries'" [title]="'Country'" [required]="true"
        (ngModelChange)="countryChanged($event)"></app-drop-down>
    </div>
    <!-- State -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" [htmlFor]="'states'">
        {{'State'}}&nbsp;<span class="text-red-900">*</span>
      </label>
      <select
        class="cursor-not-allowed appearance-none block w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        [name]="'states'" [required]="true" [disabled]="true" [hidden]="false" [(ngModel)]="managementClass.stateId"
        [value]="managementClass.stateId">
        <option value="" selected>--Select One--</option>
        <option *ngFor="let m of statesList" [value]="m.key">{{m.value}}</option>
      </select>
    </div>
    <!-- City -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" [htmlFor]="'cities'">
        {{'City'}}&nbsp;<span class="text-red-900">*</span>
      </label>
      <select
        class="cursor-not-allowed ppearance-none block w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
        [name]="'cities'" [required]="true" [disabled]="true" [hidden]="false" [(ngModel)]="managementClass.cityId"
        [value]="managementClass.cityId">
        <option value="" selected>--Select One--</option>
        <option *ngFor="let m of citiesList" [value]="m.key">{{m.value}}</option>
      </select>

    </div>
    <!-- Pin Code -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.pinCode" [value]="managementClass.pinCode" [name]="'pinCode'"
        [required]="true" [type]="'number'" [placeHolder]="'Pin Code'" [title]="'Pin Code'"
        [disabled]="true"></app-text-field>
    </div>
    <!-- Mobile -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.mobile" [value]="managementClass.mobile" [name]="'mobile'"
        [required]="true" [type]="'text'" [placeHolder]="'Mobile'" [title]="'Mobile'"
        [disabled]="true"></app-text-field>
    </div>
    <!-- Secondary Mobile -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.secMobile" [value]="managementClass.secMobile" [name]="'secMobile'"
        [required]="false" [type]="'text'" [placeHolder]="'Secondary Mobile Number'" [title]="'Secondary Mobile'"
        [disabled]="true"></app-text-field>
    </div>
    <!-- Email -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.email" [value]="managementClass.email" [name]="'email'"
        [required]="true" [type]="'email'" [placeHolder]="'Email'" [title]="'Email'" [disabled]="true"></app-text-field>
    </div>
    <!-- Company -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-drop-down [(ngModel)]="managementClass.company" [value]="managementClass.company" [list]="companiesList"
        [disabled]="false" [name]="'companies'" [title]="'Company'" [required]="true"></app-drop-down>
    </div>
    <!-- Ref Letter No. -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.refLetterNo" [value]="managementClass.refLetterNo"
        [name]="'refLetterNo'" [required]="false" [type]="'text'" [placeHolder]="'Ref. Letter No.'"
        [title]="'Ref Letter No'" [disabled]="false"></app-text-field>
    </div>
    <!-- Id Card No -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.idCardNo" [value]="managementClass.idCardNo" [name]="'idCardNo'"
        [required]="false" [type]="'text'" [placeHolder]="'Id Card No.'" [title]="'Id Card No'"
        [disabled]="false"></app-text-field>
    </div>
    <!-- Doctor -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-drop-down (ngModelChange)="doctorChanged()" [(ngModel)]="managementClass.doctor"
        [value]="managementClass.doctor" [list]="doctorList" [name]="'doctor'" [title]="'Doctor'" [disabled]="false"
        [required]="true"></app-drop-down>
    </div>
    <!-- Department -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-drop-down [(ngModel)]="managementClass.department" [value]="managementClass.department"
        [list]="departmentList" [disabled]="true" [name]="'department'" [title]="'Department'" [required]="true"
        (ngModelChange)="departmentChanged($event)"></app-drop-down>
    </div>
    <!-- Unit -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-drop-down [(ngModel)]="managementClass.unit" [value]="managementClass.unit" [list]="unitList"
        [disabled]="false" [name]="'unit'" [title]="'Unit'" [required]="true"></app-drop-down>
    </div>
    <!-- Cnnsultation -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-drop-down [(ngModel)]="managementClass.consultation" [value]="managementClass.consultation"
        [list]="consultationList" [name]="'consultation'" [title]="'Consultation'" [disabled]="true"
        [required]="true"></app-drop-down>
    </div>
    <!-- Consultation Charge -->
    <div *ngIf="managementClass.doctor !== ''" class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.consultationCharge" [value]="managementClass.consultationCharge"
        [name]="'consultationCharge'" [required]="true" [type]="'text'" [placeHolder]="'Consultation Charge'"
        [title]="'Consultation Charge'" (ngModelChange)="getConsultationCharge()" [disabled]="true"></app-text-field>
    </div>
    <!-- Referred By -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-drop-down [(ngModel)]="managementClass.refBy" [value]="managementClass.refBy" [list]="refDocList"
        [name]="'refBy'" [title]="'Referred By'" [disabled]="false" [required]="true"></app-drop-down>
    </div>
    <!-- Discount Amount -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.discountAmt" [value]="managementClass.discountAmt"
        [name]="'discountAmt'" [required]="false" [type]="'number'" [placeHolder]="'Discount Amount'"
        [title]="'Discount Amount'" [disabled]="false"></app-text-field>
    </div>
    <!-- Discount Approved By -->
    <div *ngIf="managementClass.discountAmt !== '' && convertToInt(managementClass.discountAmt) > 0"
      class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-drop-down [(ngModel)]="managementClass.disApprovedBy" [value]="managementClass.disApprovedBy"
        [list]="disApprovedByList" [name]="'disApprovedBy'" [title]="'Discount Approved By'" [disabled]="false"
        [required]="true"></app-drop-down>
    </div>
    <!-- Chief Complain -->
    <div class="w-full md:w-1/4 flex flex-wrap">
      <div class="w-11/12 md:w-11/12 ps-3 mb-6 md:mb-0 flex flex-col mt-1">
        <app-drop-down [(ngModel)]="managementClass.chiefComplains" [value]="managementClass.chiefComplains"
          [list]="chiefComplainsList" [name]="'chiefComplains'" [title]="'Chief Complains'" [disabled]="false"
          [required]="true"></app-drop-down>
      </div>
      <div class="w-1/12 md:w-1/12 ps-2 pe-3 mb-6 md:mb-0 flex flex-col mt-1 items-center justify-center h-18 bg-white">
        <label for="mlc" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
          &nbsp;
        </label>
        <a class="cursor-pointer" (click)="openDialogBox()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
            <rect x="10" y="4" width="4" height="16" />
            <rect x="4" y="10" width="16" height="4" />
          </svg>
        </a>
      </div>
    </div>

    <!-- Paid Amount -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.paidAmount" [value]="managementClass.paidAmount"
        [name]="'paidAmount'" [required]="false" [type]="'number'" [placeHolder]="'Paid Amount'" [title]="'Paid Amount'"
        [disabled]="false" (ngModelChange)="paidAmountChanged()"></app-text-field>
    </div>
    <!-- MLC -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <label for="mlc" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
        MLC
      </label>
      <input type="checkbox" [value]="managementClass.mlc"
        class="appearance-none block bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" />
    </div>
    <!-- Region -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-drop-down [(ngModel)]="managementClass.religion" [value]="managementClass.religion" [list]="religionList"
        [name]="'religion'" [title]="'Religion'" [required]="true" [disabled]="true"></app-drop-down>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <!-- Payment Mode -->
    <div *ngIf="convertToInt(managementClass.paidAmount) > 0"
      class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <label for="paymentMode" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
        Payment Mode&nbsp;<span class="text-red-900">*</span>
      </label>
      <mat-radio-group (change)="paymentModeChanged()" class="flex" aria-label="Select an option"
        [(ngModel)]="managementClass.paymentMode" [name]="'payMode'"
        [required]="convertToInt(managementClass.paidAmount) > 0">
        <div *ngFor="let paymentMode of paymentModes">
          <mat-radio-button [value]="paymentMode.key">{{paymentMode.value}}</mat-radio-button>
        </div>
      </mat-radio-group>
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    @if(managementClass.paymentMode == 2) { <!-- Cheque -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-drop-down [(ngModel)]="managementClass.bankName" [value]="managementClass.bankName" [list]="bankNamesList"
        [name]="'bankName'" [title]="'Bank Name'" [disabled]="false"
        [required]="managementClass.paymentMode == 2"></app-drop-down>
    </div>
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 mt-1">
      <app-date [value]="managementClass.chequeDate" [title]="'Cheque Date'" [name]="'chequedate'"
        [placeHolder]="'DD-MMM-YYYY'" [required]="managementClass.paymentMode == 2"></app-date>
    </div>
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.chequeNo" [value]="managementClass.chequeNo" [name]="'chequeNo'"
        [required]="managementClass.paymentMode == 2" [type]="'text'" [placeHolder]="'Cheque Number'"
        [title]="'Cheque No.'" [disabled]="false"></app-text-field>
    </div>
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.chequeAmount" [value]="managementClass.chequeAmount"
        [name]="'chequeAmount'" [required]="managementClass.paymentMode == 2" [type]="'number'"
        [placeHolder]="'Cheque Amount'" [title]="'Cheque Amount'" [disabled]="false"></app-text-field>
    </div>
    }
    @else if(managementClass.paymentMode == 3) {
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-drop-down [(ngModel)]="managementClass.paymentType" [value]="managementClass.paymentType"
        [list]="paymentTypeList" [name]="'paymentType'" [title]="'Payment Type'" [disabled]="false"
        [required]="managementClass.paymentMode == 3" (ngModelChange)="paymentTypeChanged()"></app-drop-down>
    </div>
    }
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div *ngIf="managementClass.paymentType !== '' && managementClass.paymentType !== 'UPI'"
      class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.cardNo" [value]="managementClass.cardNo" [name]="'cardNo'"
        [required]="managementClass.paymentType !== ''" [type]="'nmmber'" [placeHolder]="'Card Number'"
        [title]="'Card No.'" [disabled]="false"></app-text-field>
    </div>

    <div *ngIf="managementClass.paymentType !== '' && managementClass.paymentType !== 'UPI'"
      class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-drop-down [(ngModel)]="managementClass.bankName" [value]="managementClass.bankName" [list]="bankNamesList"
        [name]="'bankName'" [title]="'Bank Name'" [disabled]="false"
        [required]="managementClass.paymentType !== ''"></app-drop-down>
    </div>

    <div *ngIf="managementClass.paymentType === 'UPI'" class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.UPIID" [value]="managementClass.UPIID" [name]="'UPIID'"
        [required]="managementClass.paymentType === 'UPI'" [type]="'text'" [placeHolder]="'UPI ID'" [title]="'UPI Id'"
        [disabled]="false"></app-text-field>
    </div>

    <div *ngIf="managementClass.paymentType !== ''" class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="managementClass.referenceNo" [value]="managementClass.referenceNo"
        [name]="'referenceNo'" [required]="managementClass.paymentType !== ''" [type]="'text'"
        [placeHolder]="'Reference Number'" [title]="'Reference No.'" [disabled]="false"></app-text-field>
    </div>


  </div>
  <!-- Submit Reset -->
  <div class="items-end flex flex-wrap justify-end -mx-3 mb-2">
    <button [disabled]="loading.resetting || loading.submitting" mat-raised-button (click)="resetClick()"
      [ngClass]="{'cursor-not-allowed':(loading.resetting || loading.submitting)}" type="button"
      class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-xs px-3 py-2 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 opacity-50 hover:opacity-100">
      <span *ngIf="!loading.resetting">Reset</span>
      <mat-spinner *ngIf="loading.resetting" [diameter]="16"></mat-spinner>
    </button>
    <button [disabled]="loading.resetting || loading.submitting" type="button"
      [ngClass]="{'cursor-not-allowed':(loading.resetting || loading.submitting)}"
      class="cursor-pointer text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-xs px-3 py-2 me-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
      <span *ngIf="!loading.submitting">Submit</span>
      <mat-spinner *ngIf="loading.submitting" [diameter]="16"></mat-spinner>
    </button>
  </div>
</form>

<app-dialog-box *ngIf="openDialog" [Page]="'opdManagement'" (close)="hideDialogBox()"></app-dialog-box>