<app-navbar />

<form #myForm="ngForm" class="mt-4 mx-auto">
  <div class="w-full flex flex-wrap">
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 mt-1">
      <app-date [value]="opdService.date" [title]="'Date'" [name]="'date'" [placeHolder]="'DD-MMM-YYYY'"
        [required]="true"></app-date>
    </div>
  </div>
  <div class="w-full flex flex-wrap">
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="opdService.uhid" [value]="opdService.uhid" [name]="'uhid'" [type]="'text'"
        [placeHolder]="'UHID'" [title]="'Uhid'" [disabled]="true"></app-text-field>
    </div>
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="opdService.opid" [value]="opdService.opid" [name]="'opid'" [type]="'text'"
        [placeHolder]="'OPID'" [title]="'OPID'" [disabled]="true"></app-text-field>
    </div>
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="opdService.receiptNo" [value]="opdService.receiptNo" [name]="'receiptNo'"
        [type]="'text'" [placeHolder]="'Receipt No'" [title]="'Receipt No'" [disabled]="true"></app-text-field>
    </div>
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="opdService.patientName" [value]="opdService.patientName" [name]="'patientName'"
        [type]="'text'" [placeHolder]="'Patient Name'" [title]="'Patient Name'" [disabled]="true"></app-text-field>
    </div>
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="opdService.age" [value]="opdService.age" [name]="'age'" [type]="'text'"
        [placeHolder]="'Age'" [title]="'Age'" [disabled]="true"></app-text-field>
    </div>
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-drop-down [(ngModel)]="opdService.departmentId" [value]="opdService.departmentId" [disabled]="true"
        [name]="'department'" [title]="'Department'" [list]="departmentsList"></app-drop-down>
    </div>
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-drop-down [(ngModel)]="opdService.companyId" [value]="opdService.companyId" [list]="companiesList"
        [disabled]="true" [name]="'company'" [title]="'Company'"></app-drop-down>
    </div>
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-text-field [(ngModel)]="opdService.type" [value]="opdService.type" [name]="'type'" [type]="'text'"
        [placeHolder]="'Type'" [title]="'Type'" [disabled]="true"></app-text-field>
    </div>
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-drop-down [(ngModel)]="opdService.doctorId" [value]="opdService.doctorId" [list]="doctorsList"
        [disabled]="true" [name]="'doctor'" [title]="'Doctor'"></app-drop-down>
    </div>
  </div>
</form>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="2" (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Charge">
    <div class="mx-auto mt-4">
      <div class="w-full flex flex-wrap">
        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
          <app-drop-down [(ngModel)]="charge.service" [value]="charge.service" [disabled]="true" [name]="'service'"
            [title]="'Service'" [list]="servicesList"></app-drop-down>
        </div>
        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
          <app-drop-down [(ngModel)]="charge.subService" [value]="charge.subService" [disabled]="true"
            [name]="'subService'" [title]="'Sub Service'" [list]="subServicesList"></app-drop-down>
        </div>
        <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
          <app-auto-complete (click)="getProcedures()" [title]="'Procedure'" [formControl]="procedureControl"
            [placeHolder]="'Enter procedure'" [autoCompleteOptions]="procedureControlOptions" [name]="'procedure'"
            #procedure (valueChanged)="onProcedureChange($event)"></app-auto-complete>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Package"> Package Content </mat-tab>
  <mat-tab label="Patients">
    @if(dataSource.data.length > 0) {

    <mat-form-field class="mt-2 px-2">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <div class="mat-elevation-z8 px-2">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- OPID Column -->
        <ng-container matColumnDef="opid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> OPID </th>
          <td mat-cell *matCellDef="let row"> <a class="text-blue-800 cursor-pointer"
              (click)="loadPatientsDetails(row.opid)">{{row.opid}}</a> </td>
        </ng-container>

        <!-- UHID Column -->
        <ng-container matColumnDef="uhid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> UHID </th>
          <td mat-cell *matCellDef="let row"> {{row.uhid}} </td>
        </ng-container>

        <!-- Patients Name Column -->
        <ng-container matColumnDef="patientsName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Patients Name </th>
          <td mat-cell *matCellDef="let row"> {{row.patientsName}} </td>
        </ng-container>


        <!-- Company Name Column -->
        <ng-container matColumnDef="companyName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
          <td mat-cell *matCellDef="let row"> {{row.companyName}} </td>
        </ng-container>

        <!-- Company Name Column -->
        <ng-container matColumnDef="admissionDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Admission Date </th>
          <td mat-cell *matCellDef="let row"> {{row.admissionDate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of patients"></mat-paginator> -->
    </div>
    }
    @else if(dataLoaded === false) {
    <mat-spinner class="ms-6" [diameter]="32" />
    }
  </mat-tab>
</mat-tab-group>