<label [for]="name" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
  {{title}}<span *ngIf="required" class="text-red-900">*</span>
</label>
<input 
  [value]="value" 
  class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" 
  [ngClass]="{'cursor-not-allowed':disabled}"
  [name]="name"
  autocomplete="{{autoComplete}}"
  [required]="required"
  [disabled]="disabled"
  [type]="type"
  (input)="onInputChange($event)"
  [placeholder]="placeHolder">
