<app-navbar></app-navbar>

<form #myForm="ngForm" class="mt-4 w-full max-w-7xl mx-auto">
  <div class="flex flex-wrap -mx-3 mb-6">
    <!-- UHID -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-text-field [(ngModel)]="submitClass.uhid" [value]="submitClass.uhid" [name]="'uhid'" [type]="'text'"
        [placeHolder]="'UHID'" [title]="'Uhid'" [required]="true" [disabled]="true"></app-text-field>
    </div>
    <!-- Date -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-date [value]="submitClass.date" [title]="'Date'" [name]="'date'" [placeHolder]="'DD-MMM-YYYY'"
        [required]="true"></app-date>
    </div>
    <!-- First Name -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="first-name">
        First Name&nbsp;<span class="text-red-900">*</span>
      </label>
      <div class="flex">
        <select [(ngModel)]="submitClass.salutation"
          class="appearance-none block w-1/4 bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          name="salutation" [required]="true">
          <option value="" selected>--Select One--</option>
          <option value="Mr.">Mr.</option>
          <option value="Mrs.">Mrs.</option>
          <option value="Ms.">Ms.</option>
          <option value="Dr.">Mrs.</option>
        </select>
        <input [(ngModel)]="submitClass.firstName"
          class="appearance-none block w-3/4 ml-2 bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          name="firstName" type="text" placeholder="First Name" [required]="true">
      </div>
    </div>
    <!-- Middle Name -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-text-field [(ngModel)]="submitClass.middleName" [value]="submitClass.middleName" [name]="'middleName'"
        [type]="'text'" [placeHolder]="'Middle Name'" [title]="'Middle Name'"></app-text-field>
    </div>

    <!-- Last Name -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-text-field [(ngModel)]="submitClass.lastName" [value]="submitClass.lastName" [name]="'lastName'"
        [type]="'text'" [placeHolder]="'Last Name'" [title]="'Last Name'" [required]="true"></app-text-field>
    </div>
    <!-- Date of Birth -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-date [value]="submitClass.dOB" ngModel (ngModelChange)="calculateAge($event)" [title]="'Date of Birth'"
        [name]="'dOB'" [placeHolder]="'DD-MMM-YYYY'" [required]="true"></app-date>
    </div>
    <!-- Age -->
    <div [hidden]="formValues.age === ''" class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-text-field [value]="formValues.age" [(ngModel)]="formValues.age" [name]="'age'" [type]="'text'" [placeHolder]="'Age'"
        [title]="'Age'" [required]="true" [disabled]="true"></app-text-field>
    </div>

    <!-- Marital Status -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-drop-down [value]="submitClass.maritalStatus" [(ngModel)]="submitClass.maritalStatus" [list]="formValues.mStatusList" [disabled]="false"
        [name]="'maritalStatus'" [title]="'Marital Status'" [required]="true"></app-drop-down>
    </div>
    <!-- Guardian -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-drop-down [value]="submitClass.guardian" [(ngModel)]="submitClass.guardian" [list]="formValues.guardianList" [disabled]="false"
        [name]="'guardian'" [title]="'Guardian'" [required]="false"></app-drop-down>
    </div>
    <!-- Guardian Name -->
    <div [hidden]="submitClass.guardian == '0'" class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-text-field [value]="submitClass.guardianName" [(ngModel)]="submitClass.guardianName" [name]="'gName'" [type]="'text'"
        [placeHolder]="'Guardian Name'" [title]="'Guardian Name'"
        [required]="submitClass.guardian != '0'"></app-text-field>
    </div>
    <!-- Blood Group -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-drop-down [value]="submitClass.bloodGroup" [(ngModel)]="submitClass.bloodGroup" [list]="formValues.bGroup" [disabled]="false"
        [name]="'bGroup'" [title]="'Blood Group'" [required]="false"></app-drop-down>
    </div>
    <!-- Occupation -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-text-field [value]="submitClass.occupation" [(ngModel)]="submitClass.occupation" [name]="'Occupation'" [type]="'text'"
        [placeHolder]="'Occupation'" [title]="'Occupation'"></app-text-field>
    </div>
    <!-- Religion -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0 flex flex-col mt-1">
      <app-drop-down [(ngModel)]="submitClass.religion" [value]="submitClass.religion" [list]="religionList"
        [name]="'religion'" [title]="'Religion'" [disabled]="false" [required]="true"></app-drop-down>
    </div>
    <!-- Mobile No -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-text-field [value]="submitClass.mobNumber" [(ngModel)]="submitClass.mobNumber" [name]="'mobNumber'" [type]="'number'"
        [placeHolder]="'Mobile Number'" [title]="'Mobile Number'" [required]="true"></app-text-field>
    </div>
    <!-- Secondary Mobile Number -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-text-field [value]="submitClass.secMobNumber" [(ngModel)]="submitClass.secMobNumber" [name]="'secMobNumber'" [type]="'number'"
        [placeHolder]="'Secondary Mobile Number'" [title]="'Secondary Mobile Number'"></app-text-field>
    </div>
    <!-- Local Address -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-text-field [value]="submitClass.localAddress" [(ngModel)]="submitClass.localAddress" [name]="'localAddress'" [type]="'text'"
        [placeHolder]="'Local Address'" [title]="'Local Address'" [required]="true"></app-text-field>
    </div>
    <!-- Countries -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="countryId">
        Country&nbsp;<span class="text-red-900">*</span>
      </label>
      <div class="relative">
        <select (change)="countrySelected()" [(ngModel)]="submitClass.countryId" name="country"
          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          name="countryId" [required]="true">
          <option value="" selected>--Select One--</option>
          <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
        </select>
      </div>
    </div>
    <!-- State -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="stateId">
        State&nbsp;<span class="text-red-900">*</span>
      </label>
      <div class="relative">
        <select (change)="stateSelected()" [(ngModel)]="submitClass.stateId" name="stateId"
          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          [required]="true">
          <option value="" selected>--Select One--</option>
          <option *ngFor="let state of states" value="{{state.id}}">{{state.name}}</option>
        </select>
      </div>
    </div>
    <!-- City -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="cityId">
        City&nbsp;<span class="text-red-900">*</span>
      </label>
      <div class="relative">
        <select [(ngModel)]="submitClass.cityId" name="cityId"
          class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
          [required]="true">
          <option value="" selected>--Select One--</option>
          <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
        </select>
      </div>
    </div>
    <!-- Pin Code -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-text-field [value]="submitClass.pinCode" [(ngModel)]="submitClass.pinCode" [name]="'pinCode'" [type]="'number'"
        [placeHolder]="'Pin Code'" [title]="'Pin Code'" [required]="true"></app-text-field>
    </div>
    <!-- Email -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-text-field [value]="submitClass.email" [(ngModel)]="submitClass.email" [name]="'email'" [type]="'text'" [placeHolder]="'Email'"
        [title]="'Email'" [required]="true"></app-text-field>
    </div>
    <!-- Document Select -->
    <div class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-drop-down [(ngModel)]="submitClass.documentType" [value]="submitClass.documentType"
        [list]="formValues.documents" [name]="'documentType'" [title]="'Document Select'"
        [disabled]="false"></app-drop-down>
    </div>
    <!-- Document Value -->
    <div [hidden]="submitClass.documentType == '' || submitClass.documentType == '0'" class="w-full md:w-1/4 px-3 mb-6 md:mb-0">
      <app-text-field [value]="submitClass.documentNumber" [(ngModel)]="submitClass.documentNumber" [name]="'documentNumber'" [type]="'text'"
        [placeHolder]="'Document Number'" [title]="'Document Number'"
        [required]="submitClass.documentType !== '' && submitClass.documentType != '0'"></app-text-field>
    </div>
  </div>
  <!-- Submit -->
  <div class="items-end flex flex-wrap justify-end -mx-3 mb-2">
    <button [disabled]="loading.resetting" type="button" (click)="resetClick(myForm)"
      [ngClass]="{'cursor-not-allowed':(loading.resetting)}"
      class="cursor-pointer text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-xs px-3 py-2 me-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
      <span *ngIf="!loading.resetting">Reset</span>
      <mat-spinner *ngIf="loading.resetting" [diameter]="16"></mat-spinner>
    </button>
    <button [disabled]="loading.submitting" type="button" (click)="registerPatient(myForm)"
      [ngClass]="{'cursor-not-allowed':(loading.submitting)}"
      class="cursor-pointer text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-xs px-3 py-2 me-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
      <span *ngIf="!loading.submitting">Submit</span>
      <mat-spinner *ngIf="loading.submitting" [diameter]="16"></mat-spinner>
    </button>
  </div>
</form>

<app-dialog-box *ngIf="patientRegistered" [Page]="'PatientRegistered'" [Id]="submitClass.uhid"></app-dialog-box>