@tailwind base;
@tailwind utilities;
@tailwind components;

@keyframes slide {
   0% {
     transform: translateX(0);
   }
   100% {
     transform: translateX(-100%);
   }
 }
 
 .animate-slide {
   animation: slide 10s linear infinite;
 }

 .flex > * {
   flex: none;
 }